<%- include("header") -%>

<main role="main" class="container">

  <div class="">

  </div>
  <!-- search box -->
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="marginBgone card-header" id="headingOne">
        <!-- <h2 class="mb-0"> -->
        <button class="card-button btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Search
        </button>
        <!-- </h2> -->
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="marginBgone card-body">
          <form class="marginBgone form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
    <% if(badgelist != null) { %>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Collapsible Group Item #2
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <% badgelist.forEach(function(bl) { %>
          <span class="badge badge-primary">
            <%= bl.item %>
            <input class="smBD" type="button" src="sort-26.png" onChange="this.form.submit()"></span>
          <% }); %>
        </div>
      </div>
    </div>
    <% } %>

    <!-- <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form> -->

    <% if(badgelist != null) { %>
    <% badgelist.forEach(function(bl) { %>
    <span class="badge badge-primary">
      <%= bl.item %>
      <input class="smBD" type="button" src="sort-26.png" onChange="this.form.submit()"></span>
    <% }); %>
    <% } %>

    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>
            Add
          </th>
          <form class="header" action="/sort-list-item" method="post">
            <th class="item">Item
              <!-- <button type="button" class="btn btn-primary btn-sm" type="submit"><img class="sm" src="sort-26.png"></button></th> -->
              <input class="sm" type="image" src="sort-26.png" alt="Submit">
          </form>
          <form class="header" action="/sort-list-type" method="post">
            <th class="type">Type
              <!-- <button type="button" class="btn btn-primary btn-sm" type="submit"><img class="sm" src="sort-26.png"></button></th> -->
              <input class="sm" type="image" src="sort-26.png" alt="Submit">
          </form>
          <!-- <th>Item</th> -->
          <!-- <th>Type</th> -->
        </tr>
      </thead>
      <tbody>
        <% if(list != null) { %>
        <% list.forEach(function(i) { %>
        <% if(!i.checked) { %>
        <tr>
          <form class="useChecked" action="/add" method="post">
            <td>
              <% if( useChecked ) { %>
              <input class="inputCheckbox" value=<%=i._id %> type="checkbox" name="checkbox" onChange="this.form.submit()">

              <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> -->
              <!-- Launch demo modal
          </button> -->

              <% } %>
            </td>
            <td>
              <%=i.item%>
            </td>
            <td>
              <%=i.type%>
            </td>
          </form>
          <% } %>
          <% });} %>
      </tbody>
    </table>

    <!-- list box -->
    <!-- <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul> -->

</main><!-- /.container -->

</body>
<%- include("footer") -%>
