<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    <%= title %>
  </title>

  <!-- Bootstrap core CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="CSS/bootstrap-solar.min.css">
  <link rel="stylesheet" href="CSS/bootstrap-solar.css">

  <!-- Custom styles for this template -->
  <link href="CSS/master.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">
      <%= title %></a>

    <div class="row">
      <% if(buttonTwo.button) { %>
      <form class="form-inline my-2 my-lg-0 myMargin" method="get" action=<%=buttonTwo.buttonLink %>>
        <button type="submit" class="btn btn-secondary">
          <%= buttonTwo.buttonTitle %></button>
      </form>
      <% } %>

      <% if(buttonOne.button) { %>
      <form class="form-inline my-2 my-lg-0 myMargin" method="get" action=<%=buttonOne.buttonLink %>>
        <button type="submit" class="btn btn-secondary">
          <%= buttonOne.buttonTitle %></button>
      </form>
      <% } %>
    </div>
  </nav>

  <main role="main" class="container">

    <form class="form-inline my-2 my-lg-0" action="/item/newItem" method="post">
      <input class="form-control mr-sm-2" name="title" type="number" value="1">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Enter</button>
    </form>


  </main><!-- /.container -->

  <%- include("footer") -%>
